<div class="popup w-100 m-auto text-center d-none">
    <div class="card bigcard d-flex flex-wrap">

        <div>
            <form>
                <div class="form-floating">
                    <input type="text" class="form-control description" placeholder=" ">
                    <label for="floatingInput">Descripcion de categoria</label>
                </div>

                <label for="floatingInput">Tipo de servicio</label>
                <select class="form-select type" aria-label="Default select example">
                    <option value="0">Normal</option>
                    <option value="1">Extra</option>
                </select>
                
                <button class="btn btn-primary" type="button">Agregar</button>
        
            </form>
        </div>
        
    </div>
</div>