<div id="tab-departmentManager" class="tab d-none">
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">Administracion de departamentos</a>
        <form class="form-inline">
            <button class="btn-update btn btn-outline-success my-2 my-sm-0" type="button">Agregar</button>
            <button class="btn-update btn btn-outline-success my-2 my-sm-0" type="button">Actualizar</button>
        </form>
    </nav>
    <div class="tabItemContainer">
        <div class="cardContainer"></div>
    </div>
</div>