<!-- <script src="../node_modules/chart.js/dist/chart.js"></script> -->
<script src="../node_modules/chart.js/dist/chart.umd.js"></script>
<script src="../node_modules/chart.js/Scripts/Chart.js"></script>
<!-- <script src="../node_modules/chart.js/Scripts/bootstrap.min.js"></script> -->
<script src="../node_modules/chart.js/Scripts/Chart.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

<script defer src="../static/js/tabs/home/Graficos.js"></script>
<script defer src="../static/js/tabs/home/ExportData.js"></script>

<div id="tab-Inicio" class="tab">
    <nav class="navbar navbar-light bg-light justify-content-between">
        <form class="form-inline">
            <button class="btn-add btn btn-outline-success my-2 my-sm-0" type="button" onclick="ExportData.createCSV()">Exportar datos de reservas</button>
        </form>
    </nav>
    <div class="">
        <div class="PruebaGrafico">
            <div class="EstiloGrafico">
                <div class="panel panel-default">
                    <div class="panel-heading TextoGrafico"><b>Cantidad de ventas</b><img class=""> </div>
                    <div class="panel-body">
                        <canvas id="myBar2Chart"></canvas>
                    </div>
                </div>
            </div>
            <!-- <div class="Grafico_dona">
                <div class="panel panel-default">
                    <div class="panel-heading TextoGrafico"><b>Ventas pagadas y no pagadas</b><img class="" /> </div>
                    <div class="panel-body">
                        <canvas id="myPieChart"></canvas>
                    </div>
                </div>
            </div>        -->
    </div>
    </div>
</div>