<div id="tab-settings" class="tab d-none">
    <form>
        <h1 class="h3 mb-3 fw-normal">configuración</h1>
        <div class="form-floating">
            <input type="text" class="form-control dominio-api">
            <label for="floatingInput">Dominio api</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control dominio-web">
            <label for="floatingInput">Dominio web</label>
        </div>


        <button class="w-100 btn btn-lg btn-primary save" type="button">Guardar</button>

    </form>
</div>