<div id="tab-departmentManager" class="tab d-none">
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">Administracion de departamentos</a>
        <form class="form-inline">
            <button class="btn-add btn btn-outline-success my-2 my-sm-0 add" type="button">Agregar</button>
        </form>
    </nav>
    <div class="tabItemContainer">
        {% include basepath + '/templates/tabs/DepartmentManager/popup-inv.html' %}
        {% include basepath + '/templates/tabs/DepartmentManager/popup-img.html' %}
        {% include basepath + '/templates/tabs/DepartmentManager/popup-service.html' %}
        {% include basepath + '/templates/tabs/DepartmentManager/popup-extraservice.html' %}
        {% include basepath + '/templates/tabs/DepartmentManager/popup-maintenance.html' %}
        {% include basepath + '/templates/tabs/DepartmentManager/popup.html' %}
        <div class="cardContainer"></div>
    </div>
</div>