<div class="popup image w-100 m-auto text-center d-none">
    <div class="card bigcard d-flex flex-wrap">
        <div class="image-container">

        </div>

        <div>
            <input class="form-control ImagenInput d-none" type="file">
            
            <button onclick="DptoImgManager.openFilePicker()" href="#" class="btn btn-success add">Agregar</button>
            <button onclick="DptoImgManager.makeMainImage()" href="#" class="btn btn-danger edit">Hacer principal</button>
            <button onclick="DptoImgManager.deleteImage()" href="#" class="btn btn-danger edit">Borrar</button>
            <button onclick="DptoImgManager.unSelect()" href="#" class="btn btn-danger edit">Cancelar</button>
        </div>
        
    </div>
</div>