<div class="popup image w-100 m-auto text-center d-none">
    <div class="card bigcard d-flex flex-wrap">
        <div class="image-container">
            <div class="card dpto-image">
                <img class="card-img-top" src="https://thumbs.dreamstime.com/b/apartment-building-modern-buildings-new-westminster-british-columbia-canada-40351928.jpg" alt="Card image cap">
            </div>
            <div class="card dpto-image main">
                <img class="card-img-top" src="https://thumbs.dreamstime.com/b/apartment-building-modern-buildings-new-westminster-british-columbia-canada-40351928.jpg" alt="Card image cap">
            </div>
            <div class="card dpto-image selected">
                <img class="card-img-top" src="https://thumbs.dreamstime.com/b/apartment-building-modern-buildings-new-westminster-british-columbia-canada-40351928.jpg" alt="Card image cap">
            </div>
        </div>
            
        
        
        <div>
            <input class="form-control ImagenInput" type="file">
            
            <button onclick="DptoImgManager.addImage()" href="#" class="btn btn-success">Agregar</button>
            <button onclick="DptoImgManager.makeMainImage()" href="#" class="btn btn-danger">Hacer principal</button>
            <button onclick="DptoImgManager.deleteImage()" href="#" class="btn btn-danger">Borrar</button>
        </div>
        
    </div>
</div>