<div class="popup inventory narrowList w-100 m-auto text-center d-none">
    <div class="card bigcard d-flex flex-wrap">
        <div class="closeButton">X</div>
        <div class="item-container">
            
        </div>

        <div class="inputs row">
            <div class="form-floating col-9">
                <select class="form-select name" placeholder=" " onchange="InventorySelector.unSelect(changeCat=false)">
                    <option value="">Objeto</option>
                    <option value="Mesas">Mesas</option>
                    <option value="Sillas">Sillas</option>
                    <option value="Toallas">Toallas</option>
                    <option value="Sabanas">Sabanas</option>
                    <option value="Almohadas">Almohadas</option>
                    <option value="Jabon">Jabon</option>
                    <option value="Sillones">Sillones</option>
                    <option value="Refrigerador">Refrigerador</option>
                    <option value="Lavadoras">Lavadoras</option>
                    <option value="Secadoras">Secadoras</option>
                    <option value="Platos">Platos</option>
                    <option value="Tenedores">Tenedores</option>
                    <option value="Cuchillos">Cuchillos</option>
                    <option value="Tazas">Tazas</option>
                    <option value="Copa de vino">Copa de vino</option>
                </select>
                <label>Objeto</label>
            </div>
            <div class="form-floating col-3">
                <input type="number" class="form-control ammount" placeholder=" " value="1">
                <label for="floatingInput">Cantidad</label>
            </div>
        </div>
        <div class="buttons">
            <button onclick="AddInventoryObject.addObject()" href="#" class="btn btn-success add">Agregar</button>
            <button onclick="EditInventoryObject.editItem()" href="#" class="btn btn-success edit d-none">Editar</button>
            <button onclick="DeleteInventoryObject.deleteObject()" href="#" class="btn btn-success edit d-none">Borrar</button>
            <button onclick="InventorySelector.unselect()" href="#" class="btn btn-success edit d-none">Cancelar</button>
        </div>
        
    </div>
</div>