<div class="popup dpto w-100 m-auto text-center d-none">
    <div class="card bigcard">
        <form>
            <h1 class="h3 mb-3 fw-normal add-ui">Agregar Departamento</h1>
            <h1 class="h3 mb-3 fw-normal update-ui">Editar Departamento</h1>
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <!-- datos usuario -->
                        <input type="" class="form-control d-none dptoId">
                        <div class="form-floating">
                            <input type="nombres" class="form-control address" placeholder=" ">
                            <label for="floatingInput">Direccion</label>
                        </div>
                        <div class="row">
                            <div class="form-floating col-6">
                                <input type="nombres" class="form-control latitud" placeholder=" ">
                                <label for="floatingInput">Latitud</label>
                            </div>
                            
                            <div class="form-floating col-6">
                                <input type="nombres" class="form-control longitud" placeholder=" ">
                                <label for="floatingInput">Longitud</label>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="form-floating col-4">
                                <input type="number" class="form-control rooms" placeholder=" ">
                                <label for="floatingInput">Cuartos</label>
                            </div>
                            
                            <div class="form-floating col-3">
                                <input type="number" class="form-control bathrooms" placeholder=" ">
                                <label for="floatingInput">baños</label>
                            </div>
                            
                            <div class="form-floating col-5">
                                <input type="number" class="form-control size" placeholder=" ">
                                <label for="floatingInput">Tamaño m<sup>2</sup></label>
                            </div>
                        </div>
                        
                        <div class="form-floating">
                            <input type="direccion" class="form-control value" placeholder=" ">
                            <label for="floatingInput">Valor</label>
                        </div>
                        
                        <div class="form-floating">
                            <select class="form-select status" aria-label="Default select example" placeholder=" ">
                                <option value="0">Activa</option>
                                <option value="1">Inactiva</option>
                            </select>
                            <label for="updateDpto-Permiso">Estado</label>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Descripcion</label>
                            <textarea class="form-control description" rows="12"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn admin-img update-ui" type="button" onclick="DptoImgManager.showDptoImgPopup()">Administrar imagenes</a>
            <a class="btn admin-img update-ui" type="button" onclick="DptoServiceManager.showPopup()">Administrar servicios</a>
            <a class="btn admin-img update-ui" type="button" onclick="DptoExtraServiceManager.showPopup()">Administrar servicios Extra</a>
            <br>
            <button class="w-50 btn btn-lg btn-primary add add-ui" type="button">Agregar departamento</button>
            <button class="w-50 btn btn-lg btn-primary update update-ui" type="button">Actualizar departamento</button>
        </form>
    </div>
</div>