<div class="popup image w-100 m-auto text-center d-none">
    <div class="card bigcard d-flex flex-wrap">
        <div class="image-container">

        </div>

        <div>
            <input class="form-control ImagenInput" type="file">
            
            <button onclick="DptoImgManager.addImage()" href="#" class="btn btn-success">Agregar</button>
            <button onclick="DptoImgManager.makeMainImage()" href="#" class="btn btn-danger">Hacer principal</button>
            <button onclick="DptoImgManager.deleteImage()" href="#" class="btn btn-danger">Borrar</button>
        </div>
        
    </div>
</div>