<div class="popup extraservice narrowList w-100 m-auto text-center d-none">
    <div class="card bigcard d-flex flex-wrap">
        <div class="closeButton">X</div>
        <div class="item-container">
            
        </div>

        <div class="inputs row">
            <div class="col-3">
                <label for="floatingInput">Categoria</label>
                <select class="form-select category addExtraService" aria-label="Default select example" onchange="EditDptoExtraService.unSelect(changeCat=false)">
                </select>
            </div>
            
            <div class="col-3">
                <label for="floatingInput">Estado</label>
                <select class="form-select status" aria-label="Default select example">
                    <option value="0">Activo</option>
                    <option value="1">Inactivo</option>
                </select>
            </div>
            <div class="col-3">
                <label for="floatingInput">trabajador</label>
                <select class="form-select worker" aria-label="Default select example">
                    <option value="null">Sin trabajador</option>
                </select>
            </div>
            <div class="col-3">
                <label for="floatingInput">Valor</label>
                <input type="text" class="form-control value money" placeholder=" " value="1">
            </div>
        </div>
        <div class="inputs row">
            <div class="col-12">
                <label for="floatingInput">Descripcion</label>
                <input type="text" class="form-control description"></input>
                </select>
            </div>
        </div>
        <div class="buttons">
            <button onclick="AddDptoExtraService.addService()" href="#" class="btn btn-success add">Agregar</button>
            <button onclick="EditDptoExtraService.editService()" href="#" class="btn btn-success edit d-none">Editar</button>
            <button onclick="EditDptoExtraService.unSelect()" href="#" class="btn btn-danger edit d-none">Cancelar</button>
        </div>
        
    </div>
</div>