<div class="popup maintenance narrowList w-100 m-auto text-center d-none">
    <div class="card bigcard d-flex flex-wrap">
        
        <div class="row">
            <div class="col-6">
                <label for="floatingInput">Categoria</label>
                <select class="form-select category" aria-label="Default select example">
                    <option value="0">Seleccionar categoria</option>
                    <option value="1">Electrica</option>
                    <option value="2">Plomeria agua</option>
                    <option value="3">Plomeria gas</option>
                    <option value="4">Pintura</option>
                    <option value="5">Telecomunicaciones</option>
                    <option value="6">Reparacion</option>
                </select>

                <div class="form-floating">
                    <input type="number" class="form-control value" placeholder=" ">
                    <label for="floatingInput">Valor</label>
                </div>

                <div class="row">
                    <div class="form-floating col-6">
                        <input type="date" class="form-control startDate" placeholder=" " data-date-format="DD MM YYYY">
                        <label for="floatingInput">Fecha inicio</label>
                    </div>
                    <div class="form-floating col-6">
                        <input type="date" class="form-control endDate" placeholder=" " data-date-format="DD MM YYYY">
                        <label for="floatingInput">Fecha fin</label>
                    </div>
                </div>

                <div class="buttons row justify-content-around">
                    <button onclick="addMaintenance.add()" href="#" class="col-5 btn btn-success add">Agregar</button>
                    <button onclick="EditMaintenance.edit()" href="#" class="col-5 btn btn-success edit d-none">Editar</button>
                    <button onclick="" href="#" class="col-5 btn btn-danger edit d-none">Borrar</button>
                </div>

            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Descripcion</label>
                    <textarea class="form-control description" rows="9"></textarea>
                </div>
            </div>
        </div>
        
        <div class="item-container">
            
        </div>
    </div>
</div>