<div class="popup service w-100 m-auto text-center d-none">
    <div class="card bigcard d-flex flex-wrap">
        <div class="service-container">

        </div>

        <div>
            <label for="floatingInput">Permiso</label>
            <select class="form-select serviceCategory" aria-label="Default select example">
                <option value="0">Usuario</option>
                <option value="1">Empleado</option>
                <option value="2">Administrador</option>
            </select>
            <button onclick="" href="#" class="btn btn-success">Agregar</button>
            <button onclick="" href="#" class="btn btn-danger">Borrar</button>
        </div>
        
    </div>
</div>