<div class="popup inventory narrowList w-100 m-auto text-center d-none">
    <div class="card bigcard d-flex flex-wrap">
        <div class="item-container">
            
        </div>

        <div class="inputs row">
            <div class="form-floating col-9">
                <input type="text" class="form-control name" placeholder=" ">
                <label for="floatingInput">Nombre</label>
            </div>
            <div class="form-floating col-3">
                <input type="number" class="form-control ammount" placeholder=" " value="1">
                <label for="floatingInput">Cantidad</label>
            </div>
        </div>
        <div class="buttons">
            <button onclick="AddInventoryObject.addObject()" href="#" class="btn btn-success">Agregar</button>
            <button onclick="EditInventoryObject.editItem()" href="#" class="btn btn-success">Editar</button>
            <button onclick="" href="#" class="btn btn-success">Borrar</button>
        </div>
        
    </div>
</div>