#sideBar {
  height: 100vh;
  width: 200px;
  position: fixed;
}

#tabContainer {
  margin-left: 200px;
  width: 100%;
}

#tabContainer .navbar {
  padding: 0.5rem;
}

#tabContainer .tabItemContainer {
  padding: 0.5rem;
}

#tabContainer div.userRow {
  margin-bottom: 0.5rem;
}

#tabContainer div.userRow .card-body {
  padding: 2px;
}

#tabContainer div.userRow .card-body .row div {
  margin-top: auto;
  margin-bottom: auto;
}

#tabContainer div.userRow .card-body .mainIcon img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid #cfd8dc;
}

#tabContainer div.userRow .card-body .editIcon img {
  width: 25px;
}

#tabContainer div.userRow .card-body .editIcon img:hover {
  cursor: pointer;
}

#tabContainer .popup {
  position: fixed;
  left: 200px;
  top: 0;
  background-color: rgba(231, 231, 231, 0.5);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  width: 100%;
  height: 100%;
  z-index: 1;
}

#tabContainer .popup div.card {
  z-index: 2;
  width: 20rem;
  margin: auto;
  margin-top: 2rem;
  padding: 1rem;
}

#tabContainer .popup div.card.bigcard {
  z-index: 2;
  width: 50rem;
  margin: 100px;
}

#tabContainer .popup div.card.bigcard .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#tabContainer .popup div.card.bigcard .image-container .dpto-image {
  width: 250px;
  border: solid #3e65b5;
  border-width: 3px;
  border-radius: 10px;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}

#tabContainer .popup div.card.bigcard .image-container .dpto-image.main {
  border-color: #ffb233;
}

#tabContainer .popup div.card.bigcard .image-container .dpto-image.selected {
  border-color: #0eb41c;
}

#tabContainer .popup div.card .btn {
  margin-top: 0.5rem;
}

#miniProfile {
  text-align: right;
}

#miniProfile div {
  float: left;
  margin-right: 1rem;
}

#miniProfile .name {
  color: #cfd8dc;
  float: down;
  margin-bottom: 0;
}

#miniProfile .logout {
  width: 100%;
  text-align: right;
}

#miniProfile .logout a {
  text-decoration: none;
  color: #46545a;
}

#miniProfile .logout a:hover {
  color: #bdbdbd;
}

#miniProfile img {
  width: 50px;
  border-radius: 50px;
  border: 2px solid #cfd8dc;
}

#FormErrorMessage {
  background-color: rgba(255, 0, 0, 0.322);
  width: 100%;
}

#FormErrorMessage:hover {
  cursor: pointer;
}

#FormErrorMessage span {
  font-weight: bold;
  color: black;
}

#ingreso a {
  color: #cfd8dc;
  text-decoration: none;
}

#GlobalMessage {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.5rem;
  width: 25rem;
  z-index: 2;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}

#GlobalMessage.error {
  background-color: #fb9b9bc9;
}

#GlobalMessage.success {
  background-color: #a1fb9bc9;
}
/*# sourceMappingURL=baseTemplate.css.map */