$sidebar-width: 200px;

#sideBar{
    height: 100vh;
    width: $sidebar-width;
    position: fixed;
}

#tabContainer{
    margin-left: $sidebar-width;
    width: 100%;
    .navbar{
        padding: 0.5rem;
    }
    .tabItemContainer{
        padding: 0.5rem;
    }

    div.userRow{
        margin-bottom: 0.5rem;
        .card-body{
            padding: 2px;
            .row div{
                margin-top: auto;
                margin-bottom: auto;
            }
            .mainIcon img{
                $usrRowImg-width: 50px;
                width: $usrRowImg-width;
                height: $usrRowImg-width;
                border-radius: $usrRowImg-width;
                border: 2px solid #cfd8dc;
            }
            .editIcon img{
                width: 25px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }

    .popup{
        position: fixed;
        left: $sidebar-width;
        top: 0;
        background-color: rgba(231, 231, 231, 0.5);
        backdrop-filter: blur(1px);
        width: 100%;
        height: 100%;
        z-index: 1;
        overflow-y: scroll;

        
        div.card{
            
            z-index: 2;
            width: 20rem;
            margin: auto;
            margin-top: 2rem;
            padding: 1rem;
            &.bigcard{
                z-index: 2;
                width: 50rem;
                margin: 100px;
                .image-container{
                    display: flex;
                    flex-direction: row !important;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .dpto-image{
                        width: 250px;
                        border: solid #3e65b5;
                        border-width: 3px;
                        border-radius: 10px;
                        padding: 0;
                        margin: 0;
                        margin-bottom: 1rem;
                        &.main{
                            border-color: #ffb233;
                        }
                        
                        &.selected{
                            border-color: #0eb41c;
                        }
                    }
                }
                    
            }
            
            .btn{
                margin-top: 0.5rem;
            }
        }
        //TODO: delete
        &.service .service-container .card{
            width: auto;
            padding: 0;
            margin-top: 0.5rem;
            &.selected{
                border-color: #0eb41c;
                background-color: #98e798;
            }
            div.card-body{
                padding: 5px;
            }
        }

        &.narrowList {
            div.buttons {
                display: flex;
                justify-content: space-evenly;
            }

            .item-container .card{
                width: auto;
                padding: 0;
                margin-top: 0.5rem;
                &.selected{
                    border-color: #0eb41c;
                    background-color: #98e798;
                }
                div.card-body{
                    padding: 5px;
                }
            }
        }
    }
}

#tab-serviceCategory .cardContainer{
    padding: 0.3rem;
}

#miniProfile{
    text-align: right;
    div{
        float: left;
        margin-right: 1rem;
    }
    .name{
        color: #cfd8dc;
        float: down;
        margin-bottom: 0;
    }
    .logout{
        width: 100%;
        text-align: right;
        a{
            text-decoration: none;
            color: #46545a;
            &:hover{
                color: #bdbdbd;
            }
        }
    }
    img{
        width: 50px;
        border-radius: 50px;
        border: 2px solid #cfd8dc;
    }
}

#FormErrorMessage{
    background-color: rgba(255, 0, 0, 0.322);
    width: 100%;
    &:hover{
        cursor: pointer;
    }
    span{
        font-weight: bold;
        color: black;    
    }
}

#ingreso a{
    color: #cfd8dc;
    text-decoration: none;
}

#GlobalMessage{
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding: 0.5rem;
    width: 25rem;
    z-index: 2;
    backdrop-filter: blur(1px);
    
    &.error{
        background-color: #fb9b9bc9;
    }
    &.success{
        background-color: #a1fb9bc9;
    }
}

#miniProfile{
    img{
        $sidebar-width: 40px;
        width: $sidebar-width;
        height: $sidebar-width;
    }
    .nameContainer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .permission{
            color: #ffd70087;
        }
    }
}

#tab-reserves{
    .popup.reserve{
        .reserveData{
            text-align: left;
        }
    }
}
.PruebaGrafico {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    padding-top: 20px;
}
.EstiloGrafico {
    margin: auto;
    margin-bottom: 20px !important;
    max-width: 50%;
    max-height: 50%;
    height: 50%;
    width: 50%;
    min-width: 350px;
    min-height: 350px;
    border: 2px solid black;
    padding: auto;

}
.TextoGrafico {
    padding-bottom: 10px;
    font-size: medium;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Grafico_dona {
    margin: auto;
    margin-bottom: 20px !important;
    height: 30%;
    width: 26.5%;
    border: 2px solid black;
    padding: 10px;
    min-width: 350px;
    min-height: 350px;
}

.closeButton{
    position: absolute;
    right: 0.5rem;
    top: 0;
    cursor: pointer;
}