<div class="popup w-100 m-auto text-center d-none">
    <div class="card">
        <form>
            <img class="mb-4 m-auto Imagen profile" src="" alt="" width="100">
            <input class="form-control d-none ImagenInput" type="file">
            <h1 class="h3 mb-3 fw-normal">Editar usuario</h1>
            <!-- datos usuario -->
            <input type="" class="form-control d-none UserId">
            <div class="form-floating">
                <input type="text" class="form-control Nombres">
                <label for="floatingInput">Nombres</label>
            </div>
            
            <div class="form-floating">
                <input type="text" class="form-control Apellidos">
                <label for="floatingInput">Apellidos</label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control rut">
                <label for="floatingInput">Rut</label>
            </div>
            
            <div class="form-floating">
                <input type="email" class="form-control Email">
                <label for="floatingInput">Email address</label>
            </div>
            
            <div class="form-floating">
                <input type="text" class="form-control Direccion">
                <label for="floatingInput">Direccion</label>
            </div>
            
            <div class="form-floating">
                <input type="text" class="form-control Telefono">
                <label for="floatingInput">Telefono</label>
            </div>
            <div class="form-floating row">
                <div class="col-6">
                    <label for="floatingInput">Permiso</label>
                    <select class="form-select Permiso" aria-label="Default select example">
                        <option value="0">Usuario</option>
                        <option value="1">Empleado</option>
                        <option value="2">Administrador</option>
                    </select>
                </div>
                
                <div class="col-6">
                    <label for="floatingInput">Estado</label>
                    <select class="form-select Estado" aria-label="Default select example">
                        <option value="0">Por validar</option>
                        <option value="1">Validado</option>
                        <option value="2">Bloquedo</option>
                    </select>
                </div>

            </div>
    
            <button class="w-100 btn btn-lg btn-primary" type="button">Actualizar perfil</button>
        </form>
    </div>
</div>