<!DOCTYPE html>
<html lang="en" class=" ifxfuymb idc0_342"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Cebollitas ltda">
    <title>Administracion Turismo Real</title> 

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">

    <!-- Bootstrap core CSS -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="../static/css/baseTemplate.css" rel="stylesheet">

    
<link href="../static/css/Form.css" rel="stylesheet">


  <body>
    
<main class="form-signin w-100 m-auto text-center">
    <form>
        <img class="mb-4 m-auto" src="../static/img/logo.png" alt="" width="100">
        <h1 class="h3 mb-3 fw-normal">Inicio de sesion</h1>
        <p></p>
        <div class="form-floating">
            <input type="email" class="form-control" id="inputEmail" value="jose@mrmeme.cl">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="inputPassword" value="memecuatico">
            <label for="floatingPassword">Password</label>
        </div>
    
        <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me" id="checkRememberMe"> Recuerdame
        </label>
        </div>
        <button id="LoginButton" class="w-100 btn btn-lg btn-primary" type="button">Iniciar sesion</button>

    </form>

    <div id="FormErrorMessage" class="card d-none">
    <span></span>
</div>

<script defer src="../static/js/FormErrorMessage.js"></script>


</main>




    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    
<script defer src="../static/js/Form.js"></script>
<script defer src="../static/js/Login.js"></script>


    </body>
    <auto-scroll></auto-scroll>

</html>