<div id="sideBar" class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 200px;">
  <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <img src="../static/img/logo.png" alt="" width="80px">
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link text-white active" aria-current="page" tab="tab-Inicio">
        Inicio
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white" tab="tab-userManager">
        Usuarios
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white" tab="tab-departmentManager">
        Departamentos
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white" tab="tab-reserves">
        Reservas
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white" tab="tab-serviceCategory">
        Categorias
      </a>
    </li>
  </ul>
  <hr>
  {% include basepath + '/templates/MiniProfile.html' %}
</div>