{% extends 'templates/BaseTemplate.html' %}

{% block css %}
<link href="../static/css/Form.css" rel="stylesheet">
{% endblock css %}

{% block js %}
<script defer src="../static/js/Form.js"></script>
<script defer src="../static/js/Tabs.js"></script>

<script defer src="../static/js/tabs/UserManager.js"></script>
{% endblock js %}

{% block wrapper %}
<main class="d-flex flex-nowrap">
  {% include 'templates/Navbar.html' %}
  <div id="tabContainer">
    {% include 'templates/tabs/Inicio.html' %}
    {% include 'templates/tabs/UserManager.html' %}
    {% include 'templates/tabs/DepartmentManager.html' %}
    
  </div>
  </main>
{% endblock wrapper %}