{% extends basepath + '/templates/BaseTemplate.html' %}

{% block css %}
<link href="../static/css/Form.css" rel="stylesheet">
{% endblock css %}

{% block js %}
<script defer src="../static/js/Form.js"></script>
<script defer src="../static/js/GlobalError.js"></script>
<script defer src="../static/js/Tabs.js"></script>

<script defer src="../static/js/tabs/Settings.js"></script>
<script defer src="../static/js/tabs/UserManager.js"></script>
<script defer src="../static/js/tabs/dpto/DepartmentManager.js"></script>
<script defer src="../static/js/tabs/dpto/DptoImgManager.js"></script>
<script defer src="../static/js/tabs/dpto/DptoServiceManager.js"></script>
{% endblock js %}

{% block wrapper %}
<main class="d-flex flex-nowrap">

  {% include basepath + '/templates/GlobalMessage.html' %}
  {% include basepath + '/templates/Navbar.html' %}
  <div id="tabContainer">
    {% include basepath + '/templates/tabs/settings.html' %}
    {% include basepath + '/templates/tabs/inicio.html' %}
    {% include basepath + '/templates/tabs/UserManager/index.html' %}
    {% include basepath + '/templates/tabs/DepartmentManager/index.html' %}
    
  </div>
  </main>
{% endblock wrapper %}