{% extends 'templates/BaseTemplate.html' %}

{% block css %}
<link href="../static/css/Form.css" rel="stylesheet">
{% endblock css %}

{% block js %}
<script defer src="../static/js/Form.js"></script>
<script defer src="../static/js/GlobalError.js"></script>
<script defer src="../static/js/Tabs.js"></script>

<script defer src="../static/js/tabs/Settings.js"></script>
<script defer src="../static/js/tabs/UserManager.js"></script>
<script defer src="../static/js/tabs/DepartmentManager.js"></script>
<script defer src="../static/js/tabs/DptoImgManager.js"></script>
{% endblock js %}

{% block wrapper %}
<main class="d-flex flex-nowrap">

  {% include 'templates/GlobalMessage.html' %}
  {% include 'templates/Navbar.html' %}
  <div id="tabContainer">
    {% include 'templates/tabs/settings.html' %}
    {% include 'templates/tabs/inicio.html' %}
    {% include 'templates/tabs/UserManager/index.html' %}
    {% include 'templates/tabs/DepartmentManager/index.html' %}
    
  </div>
  </main>
{% endblock wrapper %}