<div class="popup reserve narrowList w-100 m-auto text-center d-none">
    <div class="card bigcard">
        <div class="row reserveData">
            <p>Direccion: <span class="address"></span></p>
            <p>Usuario: <span class="username"></span></p>
            <p>Estado: <span class="estate"></span></p>
            <p>Valor: <span class="value"></span></p>
            <p>Fecha de creacion: <span class="createDate"></span></p>
            <p>Fecha inicio: <span class="startDate"></span></p>
            <p>Fecha termino: <span class="endDate"></span></p>
        </div>
        <div class="row">
            <div class="col-6 reserveExtraService item-container">

                
                
            </div>
            <div class="col-6 reserveFiles">
                c
            </div>
        </div>
    </div>
</div>