<div class="popup chat w-100 m-auto text-center d-none">
    <div class="card bigcard">
        <div class="container messageContainer">
            
        </div>
        <div class="container inputs">
            <form action="javascript:ReserveChat.SendMessage()">
                <div class="form-group row">
                    <div class="form-group col-9">
                        <input type="text" class="form-control msg">
                    </div>
                    <div class="col-3">
                        <button class="btn btn-success send" type="submit">
                            <span>Enviar</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>