<div class="popup hiredService w-100 m-auto text-center d-none">
    <div class="card">
        <div class="inputs row">
            <div class="col-12">
                <label for="floatingInput">Comentario</label>
                <textarea class="form-control Comment" rows="6"></textarea>
                </select>
            </div>
        </div>
        <div class="row justify-content-around">
            <button onclick="ReserveHiredServicesEditor.edit()" class="btn btn-outline-success add col-5" type="button">Editar</button>
            <button onclick="ReserveHiredServicesEditor.close()" class="btn btn-outline-danger add col-5" type="button">Cancelar</button>
        </div>
    </div>
</div>