<div class="popup reserve narrowList w-100 m-auto text-center d-none">
    <div class="card bigcard">
        <div class="closeButton">X</div>
        <nav class="navbar navbar-light bg-light justify-content-between">
            <a class="navbar-brand">Administracion de reserva N° <span class="reserveId"></span></a>
            <form class="form-inline">
                <button onclick="DocumentCheckOut.crearCheckOut()" class="btn-add btn btn-outline-danger my-2 my-sm-0 checkout" type="button">Crear check out</button>
                <button onclick="ReserveDocumentAdder.selectDocument()" class="btn-add btn btn-outline-success my-2 my-sm-0 add" type="button">Agregar documento</button>
                <button onclick="ReserveChat.showPopUp()" class="btn-add btn btn-outline-success my-2 my-sm-0 chat" type="button">Abrir chat</button>
                <input type="file" class="documentInput d-none">
            </form>
        </nav>
        <div class="row reserveData">
            <p>Direccion: <span class="address"></span></p>
            <p>Usuario: <span class="username"></span></p>
            <p>Estado: <span class="estate"></span></p>
            <p>Valor: <span class="value"></span></p>
            <p>Fecha de creacion: <span class="createDate"></span></p>
            <p>Fecha inicio: <span class="startDate"></span></p>
            <p>Fecha termino: <span class="endDate"></span></p>
        </div>
        <div class="row">
            <div class="col-6">Servicios extra</div>
            <div class="col-6">Documentos</div>
        </div>
        <div class="row">
            <div class="col-6 reserveExtraService item-container"></div>
            <div class="col-6 reserveFiles item-container"></div>
        </div>
    </div>
</div>